--
-- PostgreSQL database dump
--

\restrict i7NLvb1ZN9ZqksqDBvxhT9N6b8gXgaSdkJzsY9tpkTVgdpKeNy7ng9uWlwTYd2u

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_user; Type: TABLE; Schema: public; Owner: kidquest
--

CREATE TABLE public.app_user (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    family_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.app_user OWNER TO kidquest;

--
-- Name: child; Type: TABLE; Schema: public; Owner: kidquest
--

CREATE TABLE public.child (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    family_id uuid NOT NULL,
    name character varying(100) NOT NULL,
    age integer,
    avatar character varying(50),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.child OWNER TO kidquest;

--
-- Name: family; Type: TABLE; Schema: public; Owner: kidquest
--

CREATE TABLE public.family (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.family OWNER TO kidquest;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: kidquest
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO kidquest;

--
-- Name: point_transaction; Type: TABLE; Schema: public; Owner: kidquest
--

CREATE TABLE public.point_transaction (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    child_id uuid NOT NULL,
    amount integer NOT NULL,
    reason character varying(200),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.point_transaction OWNER TO kidquest;

--
-- Name: reward; Type: TABLE; Schema: public; Owner: kidquest
--

CREATE TABLE public.reward (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    family_id uuid NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    point_cost integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reward OWNER TO kidquest;

--
-- Name: task; Type: TABLE; Schema: public; Owner: kidquest
--

CREATE TABLE public.task (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    family_id uuid NOT NULL,
    child_id uuid,
    title character varying(200) NOT NULL,
    description text,
    point_value integer DEFAULT 10 NOT NULL,
    status character varying(50) NOT NULL,
    due_date date,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    deleted_at timestamp without time zone
);


ALTER TABLE public.task OWNER TO kidquest;

--
-- Data for Name: app_user; Type: TABLE DATA; Schema: public; Owner: kidquest
--

COPY public.app_user (id, email, password, role, family_id, created_at, updated_at) FROM stdin;
4cbf53ce-9218-442f-b70a-b61d40277a0c	parent@smith.com	$2a$10$FXMAw2Tz.uyMalOYRWCh5edvyuwN6UbYhow3EMM.m.PWIzllQavrC	PARENT	ab6a3255-11dc-4d61-8551-5e3e58787d4c	2026-03-12 18:24:34.214765	2026-05-05 19:28:45.13197
\.


--
-- Data for Name: child; Type: TABLE DATA; Schema: public; Owner: kidquest
--



--
-- Data for Name: family; Type: TABLE DATA; Schema: public; Owner: kidquest
--

COPY public.family (id, name, created_at, updated_at, deleted_at) FROM stdin;
58c3009e-fc8e-4a86-bae9-22b12cd731dd	Smith Family	2026-03-12 17:39:12.709744	2026-04-20 22:45:47.678496	2026-04-20 22:45:47.668498
6d051edd-fe21-413e-a648-c7fc886ee9ea	Johnson Family	2026-03-02 15:40:25.508143	2026-04-20 22:45:50.004805	2026-04-20 22:45:50.004805
ab6a3255-11dc-4d61-8551-5e3e58787d4c	Seidlovi	2026-04-20 22:46:03.457158	2026-04-20 22:46:03.457158	\N
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: kidquest
--



--
-- Data for Name: point_transaction; Type: TABLE DATA; Schema: public; Owner: kidquest
--



--
-- Data for Name: reward; Type: TABLE DATA; Schema: public; Owner: kidquest
--



--
-- Data for Name: task; Type: TABLE DATA; Schema: public; Owner: kidquest
--



--
-- Name: app_user app_user_email_key; Type: CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_email_key UNIQUE (email);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: child child_pkey; Type: CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.child
    ADD CONSTRAINT child_pkey PRIMARY KEY (id);


--
-- Name: family family_pkey; Type: CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.family
    ADD CONSTRAINT family_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: point_transaction point_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.point_transaction
    ADD CONSTRAINT point_transaction_pkey PRIMARY KEY (id);


--
-- Name: reward reward_pkey; Type: CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.reward
    ADD CONSTRAINT reward_pkey PRIMARY KEY (id);


--
-- Name: task task_pkey; Type: CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: kidquest
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: app_user app_user_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.family(id);


--
-- Name: child child_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.child
    ADD CONSTRAINT child_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.family(id);


--
-- Name: point_transaction point_transaction_child_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.point_transaction
    ADD CONSTRAINT point_transaction_child_id_fkey FOREIGN KEY (child_id) REFERENCES public.child(id);


--
-- Name: reward reward_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.reward
    ADD CONSTRAINT reward_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.family(id);


--
-- Name: task task_child_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_child_id_fkey FOREIGN KEY (child_id) REFERENCES public.child(id);


--
-- Name: task task_family_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kidquest
--

ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_family_id_fkey FOREIGN KEY (family_id) REFERENCES public.family(id);


--
-- PostgreSQL database dump complete
--

\unrestrict i7NLvb1ZN9ZqksqDBvxhT9N6b8gXgaSdkJzsY9tpkTVgdpKeNy7ng9uWlwTYd2u

